{% extends 'bases/base.html.twig' %}

{% block title %}Bungalows d'hôtes{% endblock %}

{% block main %}

<main>

    <h1 class="text-center">Bungalows d'hôtes</h1>

    <div class="row">
        {% for bungalow in bungalows %}
        <div class="col col-sm-6 col-md-6 col-lg-4">
            <div class="card h-100">
                {% for image in bungalow.images %}
    				<img src="{{ asset('images/' ~ image.nom) }}" alt="Image">
				{% endfor %}

                <div class="card-body bg-white">
                    <h5 class="card-title">{{ bungalow.name }}</h5>
                    <p class="card-text">{{ bungalow.description }}</p>
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ bungalow.id }}">
                            Plus de détails
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal{{ bungalow.id }}" tabindex="-1" aria-labelledby="modal{{ bungalow.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal{{ bungalow.id }}Label">{{ bungalow.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ bungalow.description }}</p>
                        <p>Capacité : {{ bungalow.capaciter }}</p>
                        <p>Prix par nuit : {{ bungalow.pricePerNight }}€</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}
