{% extends 'bases/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}


{% block description %}Réinitialisation du mot de passe{% endblock %}


{% block main %}
	<main>
    <div class="container">       

        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                    <h1 class="text-center my-3 display-5">Nouveau mot de passe</h1>
                        {{ form_start(resetForm) }}
                        <div class="mb-3">
                            <label for="plainPasswordFirst" class="form-label">Nouveau mot de passe</label>
                            {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'plainPasswordFirst'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(resetForm.plainPassword.first) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="plainPasswordSecond" class="form-label">Confirmation du nouveau mot de passe</label>
                            {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'plainPasswordSecond'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(resetForm.plainPassword.second) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary shadow">Enregistrer</button>
                        </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}
