{% extends "bases/admin.html.twig" %}
{% block title %}
    Bungalow
{% endblock %}



{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Détails du Bungalow</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Id:</strong> {{ bungalow.id }}</li>
                            <li class="list-group-item"><strong>Nom:</strong> {{ bungalow.name }}</li>
                            <li class="list-group-item"><strong>Description:</strong> {{ bungalow.description }}</li>
                            <li class="list-group-item"><strong>Capacité:</strong> {{ bungalow.capaciter }}</li>
                            <li class="list-group-item"><strong>Prix par Nuit:</strong> {{ bungalow.pricePerNight }}</li>
                            <li class="list-group-item">
                                <strong>Images:</strong>
                                <div class="row mt-2">
                                    {% for image in bungalow.images %}
                                        <div class="col-6 mb-3">
                                            <img src="{{ asset('images/' ~ image.nom) }}" alt="Image" class="img-fluid rounded">
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_bungalow_index') }}" class="btn btn-secondary me-2">Retour à la liste</a>
                        <a href="{{ path('app_bungalow_edit', {'id': bungalow.id}) }}" class="btn btn-primary me-2">Modifier</a>
                        {{ include('bungalow/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


